html {
  font-size: 16px;
}

body {
  margin: 0;
  height: 100vh;
  position: relative;
  background-color: rgba(67, 66, 63, 0.808);
  background-image: url('../resources/images/P7260338.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-blend-mode: multiply;
  height: 100%;
  z-index: -1;
}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.5); 
} */

header {
  position: relative;
  text-align: center; 
  overflow: hidden; 
  height: 5rem; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.logo {
  float: left; 
  height: 100%;
  
}

img {
  max-height: 75%; 
  width: auto;
  margin-top: 20px;
  margin-left: 45px;
}

nav {
  float: right; 
}

ul {
  list-style: none;
  color: aliceblue;
  padding: 0; 
  margin: 0; 
  display: flex;
  align-items: center;
}

li {
  display: inline;
  margin-right: 50px;
}

a {
  text-decoration: none; 
  color: aliceblue;
}